.card{
    background-color: #efefef;
    width: 50vh;
    height: 50vh;
    margin: 15vh auto;
    border-radius: 40px;
}
.card--titulo{
    text-align: center;
    font-size: xx-large;
    width: 50vh;
    height: 15vh;
    color: #a9a9a9;
}
.card--conteudo{
    text-align: center;
    font-size: large;
    color: #b4af83;
    margin: 0 auto;
}